<%= render "shared/header" %>

<div id="contents">

<h2>あなたの売上</h2>

  <canvas id="myChart" width="60％" height="20%" ></canvas>
  <script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      datasets: [{
        label: '目標',
        data: [<%= @goal.goal %>],
        // data: [1200000],
        backgroundColor: "rgba(130,201,169,0.5)"
    },{
        label: '実績',
        data: [<%= @my_price_sum %>],
        // data: [1900000],
        backgroundColor: "rgba(219,39,91,0.5)"
    }]
   },
   options: {
     scales: {
       yAxes: [{
         ticks: {
           beginAtZero: true
         }
       }]
     }
   }
  });
  </script>

  <div>個人目標：<%= @goal.goal %>円 ／受注実績：<%= @my_price_sum %>円</div>
  <div>達成まで：<%= @goal.goal.to_i - @my_price_sum.to_i %>円</div>

  目標を<%= link_to '入力', new_performance_path(@performance) %> ／
  <%= link_to '修正', edit_performance_path(@performance.id) %>



<h2>プラン一覧</h2>
  <%= link_to '新規投稿', new_plan_path %>

    <h3 class='item-name'>
      <div class='plan-name'>提案プラン</div>
      <div class='plan-name'>顧客名</div>
      <div class='plan-name'>顧客ステータス</div>
      <div class='plan-name'>金額</div>
      <div class='plan-name'>受注ステータス</div>
    </h3>

 <% @plans.each do |plan| %>
    <%=link_to plan_path(plan) do %>
      <h3 class='item-name'>
        <div><%= plan.title %></div>
        <div><%= plan.client %></div>
        <div><%= plan.client_status.name %></div>
        <div><%= plan.price %>円</div>
        <div><%= plan.sales_status.name %></div>
      </h3>
    <% end %>
  <% end %>
</div>

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</div>
<!--/container-->

</body>
</html>
