<%= render "shared/header" %>

<%# <nav id="menubar">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="gallery.html">Gallery</a></li>
<li><a href="link.html">Link</a></li>
</ul>
</nav> %>

<div id="contents">


<h2>現在の売上</h2>
<% if user_signed_in? %>
  <div>全体の受注<%= @price_sum %>円</div> ／<div>自分の受注<%= @my_price_sum %>円</div>
<% else %>
  <div>確認するにはログインが必要です！</div>
<% end %>

<section id="new">
<h2>プラン一覧</h2>
  <%= link_to '新規投稿', new_plan_path %>

  <ul class='item-lists'>
    <h3 class='item-name'>
      <div class='plan-name'>提案プラン</div>
      <div class='plan-name'>顧客名</div>
      <div class='plan-name'>顧客ステータス</div>
      <div class='plan-name'>金額</div>
      <div class='plan-name'>受注ステータス</div>
    </h3>

  <% if user_signed_in? %>
    <%# <% if current_user.id == @plans.user_id %>
      <% @plans.each do |plan| %>
          <%=link_to plan_path(plan) do %>
            <h3 class='item-name'>
              <div><%= plan.title %></div>
              <div><%= plan.client %></div>
              <div><%= plan.client_status.name %></div>
              <div><%= plan.price %>円</div>
              <div><%= plan.sales_status.name %></div>
            </h3>
          <% end %>
      <% end %>
    <%# <% end %>
  <% end %>

</section>

<%# <section>

<h2>テンプレートのご利用前に必ずお読み下さい</h2>

<h3>利用規約のご案内</h3>
<p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『初心者向けホームページテンプレート tp_beginner5』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
<p><span class="color1">■<strong>HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong></span><br>
わざと見えなく加工する事も禁止です。</p>
<p><span class="color1">■<strong>下部の著作を外したい場合は</strong></span><br>
<a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。</p>

<h3>当テンプレートの詳しい使い方は</h3>
<p><a href="about.html">こちらをご覧下さい。</a></p>

</section> %>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

</div>
<!--/container-->

</body>
</html>
