<%= render "shared/header" %>

<div id="contents">

  <div class="items-sell-main">
    <h2 class="items-sell-title">提案の情報を入力</h2>
    <%= form_with model: @plan, url: plans_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="new-items">
      <div class="weight-bold-text">
        提案名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :title, class:"items-text", id:"item-name", placeholder:"提案内容を記入してください", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          顧客名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :client, class:"items-text", id:"item-info", placeholder:"例：株式会社〇〇" ,maxlength:"40" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          提案金額
          <span class="indispensable">必須</span>
        </div>
        <span class="sell-yen">¥</span>
         <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）500000" %>          </div>
      </div>
    </div>

    <div class="items-detail">
      <div class="weight-bold-text"></div>
      <div class="form">
        <div class="weight-bold-text">
          顧客ステータス
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:client_status_id, ClientStatus.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          提案ステータス
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:sales_status_id, SalesStatus.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        提案メモ
      <%= f.text_area :memo, class:"items-text", id:"item-name", placeholder:"提案内容・状況・備考など", maxlength:"150" %>
      </div>
      <div class="weight-bold-text">
        ナレッジ
        <%= f.text_area :knowledge, class:"items-text", id:"item-info", placeholder:"共有したいことがあれば記載しましょう。例)工夫したこと、業界の情報、お客様の反応など" ,maxlength:"150" %>
      </div>
      
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "保存する", class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>
</div>


<footer>
</footer>

</div>

</body>
</html>
