<%= render "shared/header" %>


<%# プラン概要 %>
  <div id="contents">
    <h2>提案プラン</h2>
      <div class="detail-table">          
            <div class="detail-item" >提案プラン</div>
            <div class="detail-value"><%= @plan.title %></div>
      </div>
      <div class="detail-table">
            <div class="detail-item">顧客名</div>
            <div class="detail-value"><%= @plan.client %></div>
      </div>
      <div class="detail-table">
            <div class="detail-item">顧客ステータス</div>
            <div class="detail-value"><%= @plan.client_status.name %></div>
      </div>
      <div class="detail-table">
            <div class="detail-item">金額</div>
            <div class="detail-value"><%= @plan.price %>円</div>
      </div>
      <div class="detail-table">
            <div class="detail-item">受注ステータス</div>
            <div class="detail-value"><%= @plan.sales_status.name  %></div>
      </div>
      <div class="detail-table">
            <div class="detail-item">担当</div>
            <div class="detail-value"><%= @plan.user.name %></div>
      </div>
      <div class="detail-table">
            <div class="detail-item">メモ</div>
            <div class="detail-value"><%= @plan.memo %></div>
       </div>
      <div class="detail-table">
           <div class="detail-item">ナレッジ</div>
            <div class="detail-value"><%= @plan.knowledge %></div>
      </div>
      <% if user_signed_in?%>
        <% if current_user.id == @plan.user_id %>
          <%= link_to '編集', edit_plan_path(@plan.id), class: "item-red-btn" %>
          <%= link_to '削除', plan_path(@plan.id), method: :delete, class:'item-destroy' %>
        <% end %>
      <% end %>
  </div>
</div>

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

</div>
<!--/container-->

</body>
</html>

