<%= render "shared/header" %>

<div id="contents">

  <div class="items-sell-main">
    <h2 class="items-sell-title">目標の売上額を入力しよう</h2>
    <%= form_with model: @performance, url: performances_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="new-items">
      <div class="items-explain">
        <span class="sell-yen">¥</span>
        <%= f.text_field :goal, class:"price-input", id:"item-price", placeholder:"例）500000" %> 
      </div>
    </div>

    <div class="sell-btn-contents">
      <%= f.submit "保存する", class:"sell-btn" %>
      <%=link_to 'もどる', "/users/#{current_user.id}", class:"back-btn" %>
    </div>
    <% end %>
  </div>
</div>

<footer>
</footer>

</div>

</body>
</html>
